@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
  font-family: 'Algerian';
  src: url('../fonts/Algerian.eot');
  src: url('../fonts/../fonts/Algerian.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Algerian.svg#Algerian') format('svg'),
       url('../fonts/Algerian.ttf') format('truetype'),
       url('../fonts/Algerian.woff') format('woff'),
       url('../fonts/Algerian.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* reset css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.btn, a, img {
    outline: none !important;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #ce181e;
}
.great_vibes{font-family: 'Great Vibes', cursive;}
.algerian{font-family: 'Algerian';}
.no-border {
    border: 0px !important;
}
.no-margin {
    margin: 0px !important;
}
.no-padding {
    padding: 0px !important;
}
strong {
    font-weight: 600 !important;
}
p {
    font-size: 16px;
    line-height: 28px;
}
p {
    color: #444;
}
.gray-text {
    color: #666 !important;
}
.black-text {
    color: #000 !important;
}
.white-text {
    color: #fff !important;
}
.blue-text {
    color: #2c3a5f !important;
}
.red-text{
    color: #ce181e;
}
a, label {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */ /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.font12 {
    font-size: 12px;
}
.font14 {
    font-size: 14px;
}
.font18 {
    font-size: 18px;
}
.font48 {
    font-size: 48px;
    line-height: 50px;
}
.font24 {
    font-size: 24px;
    line-height: 25px;
}
.font28 {
    font-size: 28px;
    line-height: 28px;
}
.form-control {
    box-shadow: none !important;
    color: #000;
    height: 40px;
    border-radius: 0;
    font-size: 14px;
    background-color: #efefef !important;border:none;
}
.btn.btn-red{background-color: #912c2c;color: #fff !important;border-radius: 4px;min-width: 100px;}
/*default*/

body {
   font-family: 'Poppins', sans-serif;
    color: #333;
    font-weight: 400;
}
.light {
    font-weight: 300;
}
.bold {
    font-weight: 700;
}
.extrabold {
    font-weight: 900;
}
.wrapper {
    width: 100%;
    float: left;
}
/*sticky footer*/
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.wrapper{
    width: 100%;
    float: left;
}
.padding-top-50{padding-top: 50px;}
.padding-bottom-50{padding-bottom: 50px;}
.h-100vh{height: 100vh}

.navbar{background-color: #f0394d; padding: 15px;box-shadow: 0 0 6px rgba(0,0,0,0.2);}
.navbar ul li {margin: 0 5px}
.navbar ul li a{color: #fff;border-bottom: 2px solid transparent}

.navbar-brand{color: #fff;font-size: 30px;font-weight: 600;letter-spacing: 2px}
.navbar ul li a:hover, .navbar ul li a.active{border-bottom: 2px solid #fff;}
h1{font-size: 62px;color: #fff;margin-bottom: 30px;}
.banner_section{color: #fff;overflow:hidden;background-image: url(../images/banner.jpg);background-size: cover;background-repeat: no-repeat;background-position: center;min-height: 100vh;}
.banner_section p{font-size: 24px;font-weight: 500;color: #fff}
.banner_section .banner_date{font-size: 40px;margin-bottom: 10px}
.banner_date span {width:18px;height: 18px;border-radius: 100%;background-color: #f0394d;display: inline-block;margin: 0 10px;vertical-align: middle;}
.banner_section .groom_bride{font-size: 40px;margin-top: 10px}
.banner_section .groom_bride img{display: inline-block;width: 45px;margin:-2px 10px;animation: pulse 1s ease infinite; -webkit-animation: pulse 1.5s ease infinite;}
.banner_section .text{font-size: 24px}
.banner_section .text img{display: block;text-align: center;margin:15px auto;width: 75%;}
.heart_line img{display: inline-block;width: 45px;margin:-2px 15px;animation: pulse 1s ease infinite; -webkit-animation: pulse 1.5s ease infinite;}
.heart_line .line1{height: 2px;display: inline-block;width: 200px;background-image: linear-gradient(to right, #ffffff , #F0394D);}
.heart_line .line2{height: 2px;display: inline-block;width: 200px;background-image: linear-gradient(to right, #F0394D , #ffffff);}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
h2 {
   font-family: 'Great Vibes', cursive;
    text-align: center;
    color: #000;font-size: 50px;font-weight: 600;margin-bottom: 15px
}
.sec_heading p{color: #B8B8B8;font-size: 20px;margin-bottom: 20px}
.sec_heading{margin-bottom: 50px}
.couple_wrap .couple_img img{width: 150px;height: 150px;object-fit: cover;border-radius: 100%}
.couple_wrap .couple_img{display: inline-block;vertical-align: middle;}
.couple_wrap .bride{text-align: right;}
.couple_wrap .bride .couple_desc{width: calc(100% - 180px);text-align: right;display: inline-block;vertical-align: middle;vertical-align: middle;padding: 0 15px}
.couple_wrap .groom .couple_desc{width: calc(100% - 180px);display: inline-block;vertical-align: middle;padding: 0 15px}
.couple_wrap .couple_desc .name{font-size: 34px;color: #F0394D;line-height: normal;}
.couple_wrap .heart img{width: 40px;}
.couple_wrap .heart{position: absolute;width: 50px;margin: 0 auto;float: none;text-align: center;z-index: 10;top: 32%;animation: pulse 1s ease infinite; -webkit-animation: pulse 1.5s ease infinite;left: 0;right: 0}
.event_sec .bg_img{background-image: url(../images/bg.png);background-repeat: no-repeat;background-size: cover;position: relative;}
.event_sec .bg_img .overlay{position: absolute;width: 100%;height: 100%;background-color: rgba(167, 39, 53, 0.67);top: 0;left: 0}
.event_card{border: 1px solid #F0394D;background-color: rgba(0,0,0,0.4)}
.event_card .card-header{text-align: center;background-color: #F0394D;color: #fff;font-size: 24px;padding: 15px 15px;line-height: 32px;align-items: center;justify-content: center;display: flex;}
.event_card .card-body{padding: 30px}
.event_card .card-body, .event_card .card-body p {color: #fff}
.event_card .card-body .date .icon img, .event_card .card-body .time .icon img{width: 25px}
.event_card .card-body .date .icon, .event_card .card-body .time .icon{display: inline-block;vertical-align: middle;}
.event_card .card-body .date_time span{display: inline-block;width: calc(100% - 40px);vertical-align: middle;padding-left: 10px;text-transform: none;}
.bg_light{background-color: #F3E7E8}
.memories_sec .img_block{overflow: hidden;border-radius: 6px;box-shadow: 1px 0px 6px rgba(0,0,0,0.2);margin:15px 0;}
.memories_sec .img_block .bg_img{background-size: cover;background-position: top center;padding-top: 100%;background-repeat: no-repeat;transform: scale(1);transition:0.5s ease-in-out}
.memories_sec .img_block .bg_img:hover{transform: scale(1.1);}
.slider_content {text-align: center;    max-width: 100%; width: 500px; margin: 0 auto;position: relative;padding-bottom: 15px}
.slider_content .person_name{font-size: 20px;padding: 20px 0 10px;color: #F0394D;font-weight: 600;text-transform: uppercase;}
.slider_content .icon {border-radius: 100%;width: 120px;height: 120px;margin:0 auto;background-size: cover;background-position: top}
.slider_content .left_quote{position: absolute;top:120px;width: 50px;left: -25;opacity: 0.1 }
.slider_content .right_quote{position: absolute;bottom: 0;width: 50px;right: -50px;opacity: 0.1}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background-color:#F0394D }
.big_day{background-color: #EEEEEE;text-align: center;padding: 15px;font-size: 40px;font-weight: 600;line-height: normal;color: #000}
.simply-countdown .simply-days-section,.simply-countdown .simply-minutes-section{background-color: #F0394D;}
.simply-countdown .simply-hours-section, .simply-countdown .simply-seconds-section{background-color: #FB5365;}
.counting p{color: #fff;padding: 10px;text-align: center;}
.simply-countdown{display: flex;width: 100%;height: 100%}
.simply-countdown .simply-section{   flex: 1 1 auto!important;text-align: center;padding: 14px 0;}
.counting .simply-countdown .simply-section .simply-word{display: block;font-size: 18px;font-family: 'Great Vibes', cursive;margin-top: 4px;color: #fff;animation: pulse 1s ease infinite; -webkit-animation: pulse 1.5s ease infinite;}
.counting .simply-countdown .simply-section span{display: block;}
.counting .simply-countdown .simply-section .simply-amount{ font-size:30px;font-family: 'Algerian';color: #fff;animation: pulse 1s ease infinite; -webkit-animation: pulse 1.5s ease infinite;}
.simply-countdown .simply-section div {
    display: table;
    margin: 0 auto;width: auto
}
.fixed_footer {
    position: fixed;
    width: 100%;
    bottom: 0;box-shadow: 0 0 6px rgba(0,0,0,0.2);
    z-index: 9999;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #d4d4d4;
  left: 50%;
  margin-left: 0px;
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -64px;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #d4d4d4;
  padding: 30px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 80px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 81px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
.timeline > li > .timeline-badge {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  width: 160px;
  height: 160px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -80px;
  background-color: #999999;
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-badge {
    width: 60px;
    height: 60px;
    margin-left: -20px !important;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 15px;
  color: #F0394D;
  font-weight:600;
}

.date {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 90px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}







@media screen and (min-width: 768px) {
} 

@media (max-width:1600px) {
}



@media (max-width:1199px) {
    
}
@media(max-width:991px) {
    .banner_section .h-100vh, .banner_section{height: 500px;}
    .banner_section{min-height: auto}
    h1{font-size: 56px;}
    .banner_section .banner_date ,.banner_section .groom_bride{font-size: 34px}
    .banner_section .text img{margin: 10px auto}
    .couple_wrap .couple_desc .name{font-size: 24px;font-weight: 600}
    .couple_wrap .couple_img img{height: 130px;width: 130px;}
    .couple_wrap .groom .couple_desc, .couple_wrap .bride .couple_desc{width: calc(100% - 135px);}
    .event_card .card-header{font-size: 18px;line-height: 26px}
    .event_card .card-body {padding: 15px 15px;font-size: 14px;line-height: 22px}
     .event_card .card-body p{font-size: 14px;line-height: 22px}
     h2{font-size: 40px;margin-bottom: 10px}
     .sec_heading p{font-size: 18px;margin-bottom: 15px}
     .family_wish, .our_story_sec {padding-top: 20px}
}
@media (max-width:767px) {
    h1 {font-size: 54px;margin-bottom: 15px}
    .banner_section .text {font-size: 20px; padding: 1px 0 !important;}
    .banner_section .w-100{width: auto !important}
    .banner_section .h-100vh, .banner_section{height: calc(100vh - 70px);}
    .banner_section{    background-image: url(../images/mobile_banner.jpg);}
    .banner_section .overlay{position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(90,0,10,0.5)}
    .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
    .navbar-toggler:focus{outline: none}
    .navbar-nav .nav-link{width: auto;display: inline-block;padding-bottom: 4px}
    .navbar ul li{margin-bottom: 8px}
    .navbar-nav{margin-top: 10px}
    .couple_wrap .heart{display: none;}
    .couple_wrap .groom .couple_desc, .couple_wrap .bride .couple_desc {width: 100%; text-align: center;}
    .couple_wrap .couple_img {display: inline-block;vertical-align: middle;text-align: center; width: 100%;margin:0 0 15px 0;}
    .couple_wrap .bride{margin-bottom: 30px}
    .event_card{margin-bottom: 15px;    height: auto !important;}
    .timeline-title{font-size: 20px}
    .family_wish { padding-bottom: 180px;}
    .slider_content .right_quote{right: 0}
    .slider_content .right_quote,.slider_content .left_quote{width: 35px}
}
